.grid-characters {
    max-width: 770px;
    width: 100%;
    margin-top: 30px;

    &__header {
        text-align: center;
        margin-bottom: 20px;
    }

    &__text {
        font-weight: 700;
        font-size: 32px;
        letter-spacing: 4px;
        color: #feede877;
    }

    &__container {
        display: flex;
        justify-content: space-between;
        flex-wrap: wrap;
        gap: 20px;

        @media (max-width: 768px) {
            justify-content: center;
        }
    }

    &__item {
        max-width: 200px;
        width: 100%;

        border: 1px solid black;
        border-radius: 4px;
        padding: 10px 5px;

        background-color: #ffffff80;
        backdrop-filter: blur(10px);
        border-radius: 10px;
        box-shadow: 0 0 10px #00000033;

        transition: transform 0.3s ease;

        &:hover {
            transform: scale(1.5);
            cursor: pointer;
            z-index: 1;
        }
    }

    &__img {
        height: 90px;
        object-fit: contain;
        padding-left: 1%;
        width: 100%;
    }

    &__name {
        text-align: center;
        padding: 5px 0 0 0;
        font-weight: 700;
        font-size: large;
        color: #374151;
    }
}
