.section {
    display: flex;
    justify-content: center;
    align-items: center;

    margin-top: 30px;
}

h1 {
    text-align: center;
    padding-top: 30px;
    font-size: 48px;
    font-weight: 900;
}

.grid {
    max-width: 630px;
    width: 100%;
    height: 630px;
    border: 1px solid #52525b;
    border-radius: 10px;
    padding: 2%;

    display: grid;
    grid-template-columns: repeat(3, auto);
    grid-template-rows: minmax(200px);
    gap: 10px;

    &__item {
        max-width: 200px;
        width: 100%;
        height: 200px;
        border: 1px solid #52525b;
        border-radius: 10px;

        background-position: center;
        background-repeat: no-repeat;
        background-size: contain;

        &--isActive {
            max-width: 200px;
            width: 100%;
            height: 200px;
            border: 1px solid #52525b;

            background-position: center;
            background-repeat: no-repeat;
            background-size: contain;

            background-color: #ffffff80;
            backdrop-filter: blur(10px);
            border-radius: 10px;
            box-shadow: 0 0 10px #00000033;
        }

        &:hover {
            cursor: pointer;
        }
    }
}
