.grid-characters {
    max-width: 730px;
    width: 100%;

    &__header {
        text-align: center;
        margin-bottom: 20px;
    }

    &__text {
        font-weight: 700;
        font-size: 32px;
        letter-spacing: 1.5px;
    }

    &__container {
        display: flex;
        flex-wrap: wrap;
        gap: 20px;
    }

    &__item {
        max-width: 200px;
        width: 100%;

        border: 1px solid black;
        border-radius: 4px;
        padding: 10px 5px;
        background-color: antiquewhite;

        transition: transform 0.3s ease;

        &:hover {
            transform: scale(1.5);
            cursor: pointer;
        }
    }

    &__img {
        height: 90px;
        object-fit: contain;
        padding-left: 1%;
        width: 100%;
    }

    &__name {
        text-align: center;
        padding: 5px 0 0 0;
        font-weight: 700;
        font-size: large;
    }
}
