.page {
    width: 100vw;
    height: 100vh;

    background-image: url(../assets/MkWallpaper.webp);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;

    &__header-text {
        color: #450a0a;
        text-wrap: balance;
    }


}