.page {
    width: 100%;
    height: 100vh;

    overflow-y: auto;

    background-image: url(../assets/MkWallpaper.webp);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;

    &__header-text {
        color: #450a0a;
        text-wrap: balance;

        @media (max-width: 768px) {
            font-size: 24px;
            color: lighten(#450a0a, 45%);
        }
    }

    &__container {
        margin: auto;
        display: block;
        width: fit-content;
    }
}
