.ture-info {
    overflow: hidden;

    &__container {
        width: 100vw;
        height: 60vh;

        display: flex;
        justify-content: center;
        align-items: center;
    }

    &__text {
        font-size: 74px;
        letter-spacing: 8px;
        color: #e8eaee;
    }
}
