@import './card-opponent';
@import './grid-characters';
@import './grid';
@import './page.scss';
@import './winner-board';
@import './gameStater';
@import './tieFunction';

@font-face {
    font-family: 'mk2';
    src: url('../fonts/mk2.ttf') format('truetype');
}

body {
    font-family: 'mk2', sans-serif;
}
